/* reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {

    background-color: rgb(146, 141, 72);
    color: rgb(255, 255, 255);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    background-color: rgba(146, 141, 72, 0.493);
 test-10d0b95
 }

header {
    grid-column: span all;
    grid-row: 2fr;
}

main {
    grid-column: span all;
    grid-row: 8fr;
}

footer {
    grid-column: span all;
    grid-row: 8fr;
}

h1 {
    padding: 1em 2em;
}

ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 1em;

}

li {
    list-style: none;
    padding: 0 1em;
}

a {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.3em;
    text-decoration: none;
    color: rgb(233, 250, 2);
    padding: 0.5em 1em;
    background-color: rgb(1, 1, 15);


}